<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callback</title>
</head>
<body>
{% if item %}
<div>
    <div>Phone: {{ item.phone }}</div>
    <div>Email: {{ item.email }}</div>
    <div>Name: {{ item.name }}</div>
    <div>Comment: {{ item.comment }}</div>
</div>
{% else %}
<form action="." method="post">
    {% csrf_token %}
    <label>
        Phone
        <input type="tel" name="phone">
    </label>
    <label>
        Email
        <input type="email" name="email">
    </label>
    <label>
        Name
        <input type="text" name="name">
    </label>
    <label>
        Comment
        <textarea name="comment" cols="30" rows="10"></textarea>
    </label>
    <input type="submit" value="Send">
</form>
{% endif %}
</body>
</html>